# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtualenv
venv/
.venv/

# Environment
.env
!.env.example
.env.production
# Django
staticfiles/
media/

# PostgreSQL
postgres_data/

# Node
node_modules/
dist/

# Vite
.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.log